apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "linkshort.fullname" . }}-config
  labels:
    {{- include "linkshort.labels" . | nindent 4 }}
data:
  STORAGE_TYPE: {{ .Values.storage.type | quote }}
  REDIS_URL: "{{ include "linkshort.fullname" . }}-redis:{{ .Values.redis.service.port }}"
  ANALYTICS_SERVICE_URL: "http://{{ include "linkshort.fullname" . }}-analytics:{{ .Values.analyticsService.service.port }}"
  PUBLIC_URL_SERVICE: "http://{{ .Values.domains.api }}"
  PUBLIC_ANALYTICS_SERVICE: "http://{{ .Values.domains.api }}"
  PUBLIC_SHORT_URL_DOMAIN: "http://{{ .Values.domains.shortUrl }}"
